<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    <link rel="icon" href="img/icon-kalabali-web.png" sizes="16x16" type="image/png">
    <title>Kala Bali Official</title>
</head>
<body>
<div class="content-wrapper">
<section class="hero is-landing is-large">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="img/logo-kalabali.png" alt="Logo Kala Bali">
                    </a>
                    <span class="navbar-burger burger" data-target="mainNavbar" id="navbar-burger-id">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbar-menu-id" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                           
                                <a href="https://line.me/R/ti/p/%40gws9793d"><img height="50" border="0" alt="Tambah Teman" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a>
                            
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <h1 class="title is-1">
                        Kala Bali
                    </h1>
                    <h2 class="subtitle is-4">
                        Dari semeton, untuk semeton
                    </h2>
                    <p>
                        Akses Informasi Mengenai Kalendar Bali Secara Digital
                    </p>
                    <p>
                        Kalender Bali merupakan suatu sistem perhitungan hari masyarakat Bali dalam menentukan hari baik untuk melakukan kegiatan sehari-hari, terutama yang berkaitan dengan upacara keagamaan.
                    </p>
                    <figure class="image">
                        <img src="img/bulan-penuh.png" alt="" width="768">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-light">
    <div class="container section">
        <div class="content has-text-centered">
            <h1>Fitur</h1>
        </div>

        <nav class="columns">
            <div class="column has-text-centered">
                <article class="media">
                    <div class="media-content">
                        <figure>
                            <p class="image is-256x256">
                                <img src="img/satu-hari.png">
                            </p>
                        </figure>
                        <br>
                        <div class="content">
                            <h4 class="heading"><strong>Penanggal</strong></h4>
                            <p>
                                Penanggal adalah menu untuk mengetahui informasi lebih lanjut pada tanggal tertentu, seperti hari raya, peringatan, libur nasional, wuku, sasih, dan wewaran. 
                            </p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column has-text-centered">
                <article class="media">
                    <div class="media-content">
                        <figure>
                            <p class="image is-256x256">
                                <img src="img/bulan-penuh.png">
                            </p>
                        </figure>
                        <br>
                        <div class="content">
                            <h4 class="heading"><strong>Tampilkan Kalender Bulanan</strong></h4>
                            <p>
                                Fitur ini digunakan untuk melihat tanggal / hari penting dalam bulan tertentu secara general. Hari-hari penting untuk upacara keagamaan akan ditandai dengan tanda kurung merah.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column has-text-centered">
                <article class="media">
                    <div class="media-content">
                        <figure>
                            <p class="image is-256x256">
                                <img src="img/fitur-cari.gif">
                            </p>
                        </figure>
                        <div class="content">
                            <h4 class="heading"><strong>Cari Hari Raya Terdekat</strong></h4>
                            <p>
                               Cari hari raya umat Hindu terdekat. Hari raya ini meliputi Hari Raya Galungan, Hari Raya Purnama / Tilem, dll. 
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </nav>
    </div>
</section>

<section class="bg-white">
    <div class="container section">
        <div class="content has-text-centered">
            <h1 class="title">Skenario Fitur Line Chat</h1>
        </div>
        <div class="tabs is-centered" id="tab_header">
            <ul>
                <li class="item is-active" data-option="1"><a>Penanggal</a></li>
                <li class="item" data-option="2"><a>Tampilkan Kalender Bulanan</a></li>
                <li class="item" data-option="3"><a>Cari Hari Raya Terdekat</a></li>
            </ul>
            </div>
            <div class="box" id="tab_container">
            <div class="container_item is-active" data-item="1">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p>1. Akses penanggal pada menu. Menu akan selalu ditampilkan pada saat pertama kali diakses. Kata kunci "penanggal" dan "penanggal dong" juga dapat diterima sistem</p>
                        <br>
                        <figure>
                            <img src="img/skenario-1-penanggal.jpg" alt="" width="300">
                        </figure>
                    </div>
                    <div class="column">
                        <p>2. Pilih 'Hari Ini' untuk mengakses informasi mengenai tanggal hari ini atau pilih hari untuk menampilkan dialog tanggal. Gambar di bawah ini adalah "Pilih hari"</p>
                        <br>
                        <figure>
                            <img src="img/skenario-2-penanggal.jpg" alt="" width="300">
                        </figure>
                    </div>
                    <div class="column">
                        <p>3. Informasi mengenai penanggalan akan tersedia sesuai tanggal yang sudah ditentukan sebelumnya. Penanggal ini bersifat informasi harian secara detail.</p>
                        <br>
                        <figure>
                            <img src="img/skenario-3-penanggal.jpg" alt="" width="300">
                        </figure>
                    </div>
                    <div class="column">
                        <p>4. Chat Bot juga akan mengenali kata-kata 'Natural' dari pengguna untuk memastikan kedekatan dan 'user experience'. Gambar dibawah ini adalah hasil dari kalimat "kalender hari ini dong"</p>
                        <br>
                        <figure>
                            <img src="img/skenario1.jpg" alt="" width="300">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="container_item" data-item="2"> 
                <div class="columns is-vcentered">
                    <div class="column">
                        <p>1. Akses fitur "kalender bulanan" dari menu yang disediakan, atau dapat dengan kata kunci 'kalender'. User akan selalu diedukasi / diberi informasi jika lupa di kemudian hari.</p>
                        <br>
                        <figure>
                            <img src="img/skenario-1-bulanan.jpg" alt="" width="300">
                        </figure>
                    </div>
                    <div class="column">
                        <p>2. Akses informasi kalender mengenai bulan tertentu dengan format "kalender <bulan> <tahun>". Misalnya : kalender oktober 2018</p><p>Informasi yang akan didapat adalah dalam bentuk gambar kalender bulanan dan informasi dibawahnya</p>
                        <br>
                        <figure>
                            <img src="img/skenario-2-bulanan.jpg" alt="" width="300">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="container_item" data-item="3">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p>1. Akses cari dari menu</p>
                        <br>
                        <figure>
                            <img src="img/skenario-1-cari.jpg" alt="" width="300">
                        </figure>
                    </div>
                    <div class="column">
                        <p>2. Akses informasi mengenai hari raya tertentu dengan "cari <nama-upacara>". Misalnya : Cari purnama</p>
                        <br>
                        <figure>
                            <img src="img/skenario-2-cari.jpg" alt="" width="300">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container section has-text-centered">
        <h1 class="title">
            Nikmati fitur terbaru kami :
        </h1>
        <div class="columns">
            <div class="column">
                <h1 class="title">
                    Pengingat Puja Tri Sandhya
                </h1>
                <p>Kala Bali akan mengingatkan pengguna untuk melakukan persembayangan Tri Sandhya selama 3 kali sehari. Pukul 06.00, 12.00 dan 18.00</p>
                <figure>
                    <img src="img/fitur-trisandya.jpg" alt="" width="300">
                </figure>
            </div>
            <div class="column">
                <h1 class="title">
                    Pengetahuan Agama Hindu
                </h1>
                <p>Akses pengetahuan tentang agama Hindu dengan diawali dengan 'apa itu < nama-pengetahuan >',</p><p> semisal : 'apa itu purnama, apa itu kuningan'</p>
                <figure>
                    <img src="img/fitur-pengetahuan.jpg" alt="" width="300">
                </figure>
            </div>
        </div>
    </div>
</section>

<section id="stn-download">
    <div class="container section has-text-centered">
        <div class="columns">
            <div class="column">

                <h1 class="title is-2">Akan tersedia di berbagai platform</h1>
                <p>Line Chat Bot adalah platform pertama kami</p>
                <a href="https://line.me/R/ti/p/%40gws9793d" class="button button-store">
                    <img src="img/lineicon.png" alt="icon"> Line Chat
                </a>
                <a href="#" class="button button-store">
                    <img src="img/webicon.png" alt="icon"> Website (Soon)
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h1 class="subtitle">Add Line by QR Code</h1>
                <img src="https://qr-official.line.me/L/HghmFwuw0w.png" width="128px">
            </div>
        </div>

    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Kala Bali built
                with
                <span class="icon has-text-danger">
                    <i class="fas fa-heart"></i>
                </span>
                by <a href="https://github.com/imdbsd">I Made Budi Surya Darma</a> &  <a href="https://github.com/teofiluscandra">Teofilus Candra</a>
                @ 2018.
            </p>
            <p>
                Contact us : <a href="mailto:kalabalimedia@gmail.com">kalabalimedia@gmail.com</a>
            </p>
        </div>
    </div>
</footer>
</div>
</body>
</html>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous">
</script>

<script>
    // Close mobile & tablet menu on item click
    $('.navbar-item').each(function(e) {
      $(this).click(function(){
        if($('#navbar-burger-id').hasClass('is-active')){
          $('#navbar-burger-id').removeClass('is-active');
          $('#navbar-menu-id').removeClass('is-active');
        }
      });
    });
  
    // Open or Close mobile & tablet menu
    $('#navbar-burger-id').click(function () {
      if($('#navbar-burger-id').hasClass('is-active')){
        $('#navbar-burger-id').removeClass('is-active');
        $('#navbar-menu-id').removeClass('is-active');
      }else {
        $('#navbar-burger-id').addClass('is-active');
        $('#navbar-menu-id').addClass('is-active');
      }
    });
  </script>

  <script>
  $(document).ready(function() {
  $('#tab_header ul li.item').on('click', function() {
    var number = $(this).data('option');
    $('#tab_header ul li.item').removeClass('is-active');
    $(this).addClass('is-active');
    $('#tab_container .container_item').removeClass('is-active');
    $('div[data-item="' + number + '"]').addClass('is-active');
  });
});
  </script>