<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    <link rel="icon" href="img/icon-kalabali-web.png" sizes="16x16" type="image/png">
    <title>Kala Bali Official</title>
</head>
<body>
<div class="content-wrapper">
<section class="hero is-landing is-large">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="img/logo-kalabali.png" alt="Logo Kala Bali">
                    </a>
                    <span class="navbar-burger burger" data-target="mainNavbar" id="navbar-burger-id">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbar-menu-id" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                           
                                <a href="https://line.me/R/ti/p/%40gws9793d"><img height="50" border="0" alt="Tambah Teman" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a>
                            
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <h1 class="title is-1">
                        Kala Bali
                    </h1>
                    <h2 class="subtitle is-4">
                        Dari semeton, untuk semeton
                    </h2>

                    <figure class="image">
                        <img src="img/bulan-penuh.png" alt="" width="768">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-light">
    <div class="container section">
        <div class="content has-text-centered">
            <h1>Fitur</h1>
        </div>

        <nav class="columns">
            <div class="column has-text-centered">
                <article class="media">
                    <figure class="media-left">
                        <span class="icon has-text-danger">
                            <i class="fas fa-cog fa-3x"></i>
                        </span>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h4 class="heading"><strong>Simple</strong></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque
                            </p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column has-text-centered">
                <article class="media">
                    <figure class="media-left">
                        <span class="icon has-text-danger">
                            <i class="fas fa-cog fa-3x"></i>
                        </span>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h4 class="heading"><strong>Simple</strong></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column has-text-centered">
                <article class="media">
                    <figure class="media-left">
                        <span class="icon has-text-danger">
                            <i class="fas fa-cog fa-3x"></i>
                        </span>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                                <h4 class="heading"><strong>Simple</strong></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque
                                </p>
                        </div>
                    </div>
                </article>
            </div>
        </nav>
    </div>
</section>

<section class="bg-white">
    <div class="container section">
        <div class="columns is-vcentered">
            <div class="column">
                <figure class="image">
                    <img src="img/iphonex.png" alt="">
                </figure>
            </div>
            <div class="column ">
                    <div class="content">
                        <h1>Discover your app</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, debitis delectus doloribus dolorum eos est ex </p>

                        <a href="" class="button is-danger">Discover</a>
                    </div>

            </div>
        </div>
    </div>
</section>

<section id="stn-download">
    <div class="container section has-text-centered">
        <div class="columns">
            <div class="column">

                <h1 class="title is-2">Akan tersedia di berbagai platform</h1>
                <p>Line Chat Bot adalah platform pertama kami</p>

                <a href="https://line.me/R/ti/p/%40gws9793d" class="button button-store">
                    <img src="img/lineicon.png" alt="icon"> Line Chat
                </a>
                
                <a href="#" class="button button-store">
                    <img src="img/webicon.png" alt="icon"> Website (Soon)
                </a>

                <a href="#" class="button button-store">
                    <img src="img/appleicon.png" alt="icon"> IOS (Soon)
                </a>

                <a href="#" class="button button-store">
                    <img src="img/playicon.png" alt="icon"> Android (Soon)
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h1 class="subtitle">Add Line by QR Code</h1>
                <img src="https://qr-official.line.me/L/HghmFwuw0w.png" width="128px">
            </div>
        </div>

    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Kala Bali built
                with
                <span class="icon has-text-danger">
                    <i class="fas fa-heart"></i>
                </span>
                by <a href="https://github.com/imdbsd">I Made Budi Surya Darma</a> &  <a href="https://github.com/teofiluscandra">Teofilus Candra</a>
                @ 2018.
            </p>
        </div>
    </div>
</footer>
</div>
</body>
</html>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script>
    // Close mobile & tablet menu on item click
    $('.navbar-item').each(function(e) {
      $(this).click(function(){
        if($('#navbar-burger-id').hasClass('is-active')){
          $('#navbar-burger-id').removeClass('is-active');
          $('#navbar-menu-id').removeClass('is-active');
        }
      });
    });
  
    // Open or Close mobile & tablet menu
    $('#navbar-burger-id').click(function () {
      if($('#navbar-burger-id').hasClass('is-active')){
        $('#navbar-burger-id').removeClass('is-active');
        $('#navbar-menu-id').removeClass('is-active');
      }else {
        $('#navbar-burger-id').addClass('is-active');
        $('#navbar-menu-id').addClass('is-active');
      }
    });
  </script>